<form [formGroup]="requestForm">
  <mat-form-field class="full-width">
    <input matInput formControlName="searchText" placeholder="Search text">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Language">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{ lang }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput formControlName="pages" placeholder="Number of pages">
  </mat-form-field>
</form>

<div class="flex">
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="requestForm.value" [disabled]="!requestForm.valid">OK</button>
</div>
