<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title and link</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{item.title}} <br>
      <a href="" (click)="$event.preventDefault();openInBrowser(item.link)">{{item.link}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="snippet">
    <mat-header-cell *matHeaderCellDef>Snippet</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.snippet}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['title', 'snippet']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['title', 'snippet'];"></mat-row>

</mat-table>
