<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.title}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="link">
    <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.link}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="snippet">
    <mat-header-cell *matHeaderCellDef> Snippet </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.snippet}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['title', 'link', 'snippet']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['title', 'link', 'snippet'];"></mat-row>

</mat-table>
